.checklist {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.checklist ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.completion-item {
  margin-bottom: 5px;
  line-height: 1.75;
  width: 100%;
  position: relative;
}

.list-extended {
  margin: 0;
}
