@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*, *:before, *:after {
  box-sizing: border-box;
}

/* from platform  */
.sr {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    background: #fff;
    color: #000;
    position: absolute;
    margin: -1px;
    height: 1px;
    width: 1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    /* ensure there are spaces in sr text */
    word-wrap: normal;
}
