.progress-bar {
	display: block;
	height: 5px;
	width: 100%;
}

.progress-complete, .progress-incomplete {
	display: inline-block;
	height: 100%;
    vertical-align: top;
}

.progress-complete {
	background: #008800;
}

.progress-incomplete {
	background: #d6d6d6;
}

.progress-description {
	font-family: 'Open Sans', sans-serif;
	color: #a0a0a0;
	margin-top: 20px;
}

.progress-description b {
	color: #646464;
}
