.toggle {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.toggle-switch {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

.toggle-switch:before {
    background: #000;
    content: ' ';
    width: 40px;
    border-radius: 10px;
    height: 20px;
    display: inline-block;
    padding: 2px;
    position: relative;
    vertical-align: middle;
    margin-right: 7px;
}

.toggle-switch:after {
    content: ' ';
    background: #fff;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    position: absolute;
    left: 10px;
    top: 13px;
}

.checked .toggle-switch:after {
    left: 30px;
}

