.profile-photo {
  border-radius: 50%;
  width: 100%;
  padding: 0 25%;
}

.fullname,
.username {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.profile-photo,
.fullname,
.username {
  margin-bottom: 20px;
}

.fullname {
  font-weight: 700;
}

.username {
  font-weight: 400;
  margin-bottom: 30px;
}
